{% if page.layout == 'home2' %}
<div class="site-hero">
	<span class="site-hero-name"><a href="{{ site.url }}/">{{ site.title }}</a></span>
</div><!-- /.site-hero -->
{% endif %}
<div class="navigation-wrapper">
	{%- if page.layout != 'home2' -%}
 	<div class="site-name">
		<a href="{{ site.url }}/">{{ site.title }}</a>
	</div><!-- /.site-name -->
	{%- endif -%}
	<div class="top-navigation">
		<nav role="navigation" id="site-nav" class="nav">
		    <ul>
		        {% for link in site.data.navigation %}
				    {% if link.url contains 'http' %}
				        {% assign domain = '' %}
				        {% else %}
				        {% assign domain = site.url %}
				    {% endif %}
				    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
				{% endfor %}
		    	<li class="nav-theme-toggle"><a href="#" id="theme-toggle" role="button" aria-label="Toggle dark mode" title="Toggle dark mode"><i class="fa fa-moon-o" aria-hidden="true"></i></a></li>
		    </ul>
		</nav>
	</div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->
