<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=njg_wAAVG9L-Ffr5YhXyLrHIwljg61CbuIgoSaf7CPE'></script>
  </div>
	
  <div id="index">

    <h1>About Me</h1>
      <p>
        Haonan Huang is currently a postdoctoral researcher at RIKEN AIP, advised by <a href="https://qibinzhao.github.io/" style="text-decoration:underline;">Qibin Zhao</a>, since Jan. 2025. From 2021 to 2024, he pursued his Ph.D. under the supervision of Prof. 
        <a href="https://teacher.gdut.edu.cn/zhouguoxu/en/index.htm" style="text-decoration:underline;">Guoxu Zhou</a> 
        at the School of Automation, Guangdong University of Technology (GDUT), Guangzhou, China. During this time, he was also a jointly-trained Ph.D. student at RIKEN AIP from 2023 to 2024, working with 
        Prof. <a href="https://qibinzhao.github.io/" style="text-decoration:underline;">Qibin Zhao</a>, with support from the China Scholarship Council. 
        Additionally, he served as a visiting scholar at Lehigh University, Bethlehem, U.S., from 2022 to 2023, collaborating with Prof. 
        <a href="https://engineering.lehigh.edu/faculty/lifang-he" style="text-decoration:underline;">Lifang He</a>.
      </p>
      
    <h2>Education</h2>
    <ul> 
      <li>2021.09 - 2024.12: Ph.D., School of Automation, Guangdong University of Technology</li>
      <li>2018.09 - 2021.06: M.S., School of Automation, Guangdong University of Technology</li>
      <li>2014.09 - 2018.06: B.E., School of Information, Beijing Institute of Technology, Zhuhai</li>
    </ul>
  <!-- </div> -->
<!-- 	    Previously, he received his B.Eng. degree from the School of Information at Beijing Institute of Technology, Zhuhai, China (BITZH) in 2018,  -->
<!-- 	and received his M.S. degree from the GDUT in 2021, -->
<!-- 	    under the guidance of Prof. <a href="http://zuyuanyang.github.io" style="text-decoration:underline;">Zuyuan Yang</a>. -->
<!-- 	    He also works closely with Prof. <a href="https://teacher.gdut.edu.cn/xieshengli/zh_CN/index/110859/list/index.htm/" style="text-decoration:underline;">Shengli Xie</a>   -->
<!-- 	    and Prof. <a href="https://teacher.gdut.edu.cn/lizhenni/zh_CN/index/131691/list/index.htm" style="text-decoration:underline;">Zhenni Li</a> . -->
<!-- 	Here is Huang's  <a href="https://blog.csdn.net/libertyhhn" style="text-decoration:underline;">China Software Developer Network (CSDN)</a> blog. -->
<!-- 	    <br><br> -->
<!-- 	    <i>He is currently seeking a postdoctoral position from the year 2025. If you've got any openings that could be a perfect fit, don't hesitate to reach out. Your help is greatly appreciated! Here is his <a href="../Haonan_CV_en.pdf" class="textlink" target="_blank">[CV]</a>🌟</i> -->
<!-- 	    <br> -->
<!-- 	    <br> -->
        <p>
          E-mail:  libertyhhn@foxmail.com 
          <br>
          He welcomes research collaboration opportunities—don’t hesitate to get in touch via email!
        </p>

        <h1>Research Interests</h1>
        <p>
          Now his research interests include Adversarial Machine Learning, Tensor Decomposotion, Self-supervised learning, Multi-view Learning, Large Language Models. 
          <br>
          <ul>
            <!-- <li>
              <a href="http://kasai.comm.waseda.ac.jp/kasai/" style="text-decoration:underline;">Prof. Kasai</a> 
              has released an <a href="https://github.com/hiroyuki-kasai/NMFLibrary" style="text-decoration:underline;">NMF codes library</a>, 
              which contains most of the classic NMF models, very helpful for beginners of NMF.
            </li> -->
            <!-- <br>
            <li>
              <a href="https://scholar.google.com.hk/citations?user=HK1jrj4AAAAJ&hl=zh-CN&oi=ao" style="text-decoration:underline;">Dr. Liang</a> 
              has released a <a href="https://github.com/liangnaiyao/multiview_learning" style="text-decoration:underline;">Multi-view open source project</a>, called "Multi-view learning methods with code", very helpful for beginners of Multi-view Learning.
            </li> -->
            <!-- <br> -->
            <li>
              Prof. Qibin's 
              <a href="https://qibinzhao.github.io/" style="text-decoration:underline;">Tensor Learning Team Homepage</a>, 
              has some source codes about Tensor Decomposotion Toolbox, very helpful for beginners of Tensor Learning.
            </li>
            <br>
          </ul>
        </p>

        <h1>News</h1>
        <ul>
          <li>Feb. 2025: One paper about Diffusion Models is accepted by CVPR 2025. Title: "STEPS: Sequential Probability Tensor Estimation for Text-to-Image Hard Prompt Search". </li>
          <li>Nov. 2024: One paper about Multi-view Leanring and Generative Model is accepted by Neural Networks. Title: "Unifying Complete and Incomplete Multi-View Clustering through An Information-Theoretic Generative Model". </li>
          <li>Sept. 2024: I will join the Tensor Learning Team, RIKEN AIP as a postdoctoral researcher in 2025.</li>
          <li>June 2024: One paper has been accepted by ICML 2024. And I will be attending ICML 2024 from 20/07/2024 to 28/07/2024 in Vienna. Feel free to have a chat if you’re there.</li>
        </ul>
        <br>
<p>
  <ul>	
    <li>Last Updated: <script>document.write(new Date().toLocaleDateString())</script></li>
  </ul>
</p>  
</div><!-- /#main --> 	
	
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


