<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=njg_wAAVG9L-Ffr5YhXyLrHIwljg61CbuIgoSaf7CPE'></script>
  </div>
	
  <div id="index">
    <h1>About Me</h1>
    <p> Haonan Huang received his B.Eng. degree from the School of Information at Beijing Institute of Technology, Zhuhai, China (ZHBIT) in 2018, 
	and received his M.S. degree from the Guangdong University of Technology, Guangzhou, China (GDUT) in 2021,
	    under the guidance of Prof. <a href="http://zuyuanyang.github.io" style="text-decoration:underline;">Zuyuan Yang</a>. 
	    Now he is currently pursuing the Ph.D. degree with Prof. <a href="https://teacher.gdut.edu.cn/gxzhou/zh_CN/index/118699/list/index.htm" style="text-decoration:underline;">Guoxu Zhou</a> and
	    Prof. <a href="https://qibinzhao.github.io/" style="text-decoration:underline;">Qibin Zhao</a> 
	    in the School of Automation at GDUT from 2021. He also works closely with Prof. <a href="https://teacher.gdut.edu.cn/xieshengli/zh_CN/index/110859/list/index.htm/" style="text-decoration:underline;">Shengli Xie</a>  
	    and Prof. <a href="https://teacher.gdut.edu.cn/lizhenni/zh_CN/index/131691/list/index.htm" style="text-decoration:underline;">Zhenni Li</a> .
	Here is Huang's  <a href="https://blog.csdn.net/libertyhhn" style="text-decoration:underline;">China Software Developer Network (CSDN)</a> blog.
	    <br>
	    <br> 
	   He was a Certified LabVIEW Associate Developer (CLAD). 
	    In classic music, Huang is good at playing the violin. 
	    Now he is a member of Postgraduate Association Orchestra in School of Automation GDUT 
	    and as a former member of the ZHBIT Student Orchestra. 
	    <br>
	    <br>
        E-mail:  libertyhhn AT foxmail.com, haonanhuang AT mail2.gdut.edu.cn 
	    <br>
  <br>
	   Motto: One day, in retrospect, the years of struggle will strike you as the most beautiful.
    </p>

    
    <h1>Research Interests</h1>
    <p>
    <ul>
      His research interests include computer vision and pattern recognition. 
      Now he focuses on the study of Tensor Learning, Low-rank Models,  Non-negative Matrix Factorization (NMF) and Deep Matrix Factorization (DMF), 
	    and their application in data classification/clustering and multi-view learning. 
	    <li><br> <a href="http://kasai.comm.waseda.ac.jp/kasai/" style="text-decoration:underline;">Prof. Kasai</a> 
	    has released an <a href="https://github.com/hiroyuki-kasai/NMFLibrary" style="text-decoration:underline;">NMF codes library</a>, 
	    which contains most of the classic NMF models, very helpful for beginners of NMF. </li>
	    <li><br> <a href="https://scholar.google.com.hk/citations?user=HK1jrj4AAAAJ&hl=zh-CN&oi=ao;">Dr. Liang</a> 
	    has released a <a href="https://github.com/liangnaiyao/multiview_learning" style="text-decoration:underline;">Multi-view open source project</a>, 
	    , called "Multi-view learning methods with code", very helpful for beginners of Multi-view Learning. </li>
    </ul>
    </p>
    <br>
    <p>
    <ul>	
	<li>Last Updated: 2022.03.27</a><br></li>
    </ul>
    </p>  
	
  </div><!-- /#index -->
</div><!-- /#main --> 	
	
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


