<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="zh"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="zh"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="zh"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="zh"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=ffffff&w=a&t=m&d=njg_wAAVG9L-Ffr5YhXyLrHIwljg61CbuIgoSaf7CPE'></script>
  </div>
	
  <div id="index">

    <h1>关于我</h1>
      <p>
        黄昊楠目前是日本理化学研究所 (RIKEN AIP) 的博士后研究员，导师为<a href="https://qibinzhao.github.io/" style="text-decoration:underline;">赵启斌</a>教授，于2025年1月入职。2021年至2024年，他在广东工业大学自动化学院攻读博士学位，导师为<a href="https://teacher.gdut.edu.cn/zhouguoxu/en/index.htm" style="text-decoration:underline;">周郭许</a>教授。期间，他于2023年至2024年在 RIKEN AIP 进行访问研究，与赵启斌教授合作。此外，他于2022年至2023年在美国里海大学担任访问学者，与<a href="https://engineering.lehigh.edu/faculty/lifang-he" style="text-decoration:underline;">何丽芳</a>教授合作。
      </p>
      
    <h2>教育经历</h2>
    <ul> 
      <li>2021.09 - 2024.12：博士，广东工业大学自动化学院</li>
      <li>2018.09 - 2021.06：硕士，广东工业大学自动化学院</li>
      <li>2014.09 - 2018.06：学士，北京理工大学珠海学院信息学院</li>
    </ul>

        <p>
          电子邮箱：libertyhhn@foxmail.com 
          <br>
          我们正在招收远程或现场访问学生：如果您有兴趣与我们合作，请随时发送邮件联系我们！
          我们团队为访问学生提供全额资助的短期职位，可以覆盖在东京的生活费用。我们也欢迎自费（如CSC资助）的访问学生。
        </p>

        <h1>研究兴趣</h1>
        <p>
          目前他的研究兴趣包括对抗机器学习、张量分解、自监督学习、多视图学习、大语言模型。
          <br>
          <ul>
            <li>
              <a href="https://qibinzhao.github.io/codes/" style="text-decoration:underline;">张量学习团队代码</a>
              包含一些关于张量分解工具箱的源代码，对张量学习初学者非常有帮助。
            </li>
            <br>
          </ul>
        </p>

        <h1>最新动态</h1>
        <ul>
          <li>2025年11月：一篇关于张量学习和多视图学习的论文被 Neural Networks 接收。</li>
          <li>2025年10月：两篇关于张量学习的论文分别被 ICONIP 2025 和 IEEE TETCI 接收。一篇关于多视图学习的论文被 IEEE SPL 接收。</li>
          <li>2025年9月：一篇关于张量学习的论文被 NeurIPS 2025 接收。题目："Towards a Geometric Understanding of Tensor Learning via the t-Product"。</li>
          <li>2025年7月：[<a href="https://c5dc59ed978213830355fc8978.doorkeeper.jp/events/186369">链接</a>] 我们将于2025年8月4日在 RIKEN AIP 组织张量表示机器学习研讨会，诚邀您在线注册参加。</li>
          <li>2025年5月：我将于2025年7月2日至9日访问<a href="https://trustworthy-ml.wixsite.com/melb-aip" target="_blank">墨尔本大学</a>（海报展示）和<a href="https://tongliang-liu.github.io/aiworkshop" target="_blank">悉尼大学</a>（口头报告）。</li>
          <li>2025年2月：一篇关于扩散模型的论文被 CVPR 2025 接收。题目："STEPS: Sequential Probability Tensor Estimation for Text-to-Image Hard Prompt Search"。</li>
          <li>2024年11月：一篇关于多视图学习和生成模型的论文被 Neural Networks 接收。题目："Unifying Complete and Incomplete Multi-View Clustering through An Information-Theoretic Generative Model"。</li>
          <li>2024年9月：我将于2025年加入 RIKEN AIP 张量学习团队担任博士后研究员。</li>
          <li>2024年6月：一篇论文被 ICML 2024 接收。我将于2024年7月20日至28日在维也纳参加 ICML 2024。如果您也在场，欢迎交流。</li>
        </ul>
        <br>
<p>
  <ul>	
    <li>最后更新：{{ site.time | date: "%Y/%m/%d" }}</li>
  </ul>
</p>  
</div><!-- /#main --> 	
	
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>
